@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

#keybinds-display {
  background-image: linear-gradient(
    85.2deg,
    rgb(74, 35, 83) 7.5%,
    rgb(107, 53, 112) 88.7%
  );
  font-family: "JetBrains Mono", monospace;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80vh;
  min-width: 110px;
  max-width: 310px;
  height: auto;
  min-height: 317px;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  pointer-events: none;
  z-index: 1000;
  transform: translate(-50%, -50%) scaleX(0.8);
  opacity: 0;
  transition: 0.5s ease;
}

#keybinds-display.visible {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.title {
  background-image: linear-gradient(
    85.2deg,
    rgb(111, 51, 126) 7.5%,
    rgb(139, 62, 148) 88.7%
  );
  font-size: 25px;
  color: #f4d0fc;
  text-align: center;
  border-radius: 8px;
  padding: 5px 9px;
}
