#display-background {
  background-color: #b234c5;
  color: #f4d0fc;
  text-align: right;
  word-wrap: break-word;
  padding: 5px 9px;
  border-radius: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: background-color 0.8s ease-out;
  font-weight: 500;
  font-size: 24px;
}

#display-background.error {
  background-color: #c43f6e;
  transition: background-color 50ms ease;
}
