.display-background {
  color: #f4d0fc;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(85.2deg, rgb(111, 51, 126) 7.5%, rgb(139, 62, 148) 88.7%);
  padding: 5px 9px;
  border-radius: 8px;
  text-align: right;
  font-weight: 400;
  font-size: 29px;
  word-wrap: break-word;
  overflow-y: auto;
  overflow-x: hidden;
}

ng-scrollbar {
  --scrollbar-offset: 1;
  --scrollbar-border-radius: 8px;
}
