#display-background {
  background-color: #853c91;
  color: #f4d0fc;
  font: 400 29px Arial, Helvetica, sans-serif;
  text-align: right;
  word-wrap: break-word;
  padding: 5px 9px;
  border-radius: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: background-color 0.8s ease-out;
}

#display-background.error {
  background-color: #913c5a;
  transition: background-color 50ms ease;
}
