.element {
  background-color: rgba(211, 108, 255, 0.17);
  font-family: "JetBrains Mono", monospace;
  font-weight: 150;
  margin-bottom: 4px;
  border-radius: 8px;
}

.keys {
  display: inline-block;
  width: 55%;
  margin: 0;
}
