<div class="element"><div class="keys"><app-key>0</app-key>-<app-key>9</app-key>/<app-key>numpad</app-key></div>Enter Digits</div>
<div class="element"><div class="keys"><app-key>+</app-key></div>add</div>
<div class="element"><div class="keys"><app-key>-</app-key></div>subtract</div>
<div class="element"><div class="keys"><app-key>*</app-key></div>multiply</div>
<div class="element"><div class="keys"><app-key>/</app-key></div>divide</div>
<div class="element"><div class="keys"><app-key>.</app-key></div>decimal</div>
<div class="element"><div class="keys"><app-key>^</app-key></div>exponent</div>
<div class="element"><div class="keys"><app-key>=</app-key>/<app-key>return</app-key></div>Evaluate</div>
<div class="element"><div class="keys"><app-key>esc</app-key></div>Clear</div>
<div class="element"><div class="keys"><app-key>backspace</app-key></div>Backspace</div>
<div class="element"><div class="keys"><app-key>ctrl</app-key>+<app-key>backspace</app-key></div>Clear Entry</div>
<div class="element"><div class="keys"><app-key>ctrl</app-key>+<app-key>shift</app-key>+<app-key>H</app-key></div>Clear History</div>
