.element {
  font-family: "JetBrains Mono", monospace;
  font-weight: 150;
  background-color: rgba(211, 108, 255, 0.17);
  border-radius: 8px;
  margin-bottom: 4px;
}

.keys {
  display: inline-block;
  margin: 0;
  width: 55%;
}
