.display-background {
    background-image: linear-gradient( 85.2deg,  rgb(146, 76, 163) 7.5%, rgb(161, 70, 172) 88.7% );
    padding: 5px 9px;
    border-radius: 8px;
    text-align: right;
    font-weight: 400;
    font-size: 29px;
}