body {
  background: #c95edb;
  background: linear-gradient(
    35deg,
    rgba(201, 94, 219, 1) 0%,
    rgb(179, 60, 206) 50%,
    rgb(158, 62, 150) 100%
  );
  font-family: "Lato", Helvetica, sans-serif;
  margin: 0;
  height: 100vh;
}
