body {
  background: #c95edb;
  background: linear-gradient(
    35deg,
    rgb(224, 127, 241) 0%,
    rgb(200, 100, 223) 50%,
    rgb(151, 55, 143) 100%
  );
  font-family: "Lato", Helvetica, sans-serif;
  margin: 0;
  height: 100vh;
}
