button {
    background-color: #885394;
    border: none;
    border-radius: 3.5px;
    color: inherit;
    font-size: 14px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} :hover {
    background-color: #a16ab0;
} :active {
    background-color: #965ea4;
}
